::ng-deep nz-table-content{
  table-layout: fixed !important;
}
::ng-deep .ant-table table{
  table-layout: fixed !important;
  border: solid 1px #CCC;
}

.input-number{
  width: 100%;
}
.btn-right button{
  float: right;
  margin-right: 5px;
}
.btn-right{
  padding: 5px;
}
.table-header{
  text-align: center;
  background: #ebf3ff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.ui-panel-8-col {
  table-layout: fixed;
}

.ui-panel-8-col td {
  padding: 1px 3px !important;
}

.ui-panel-8-col label {
  font-size: 12px;
}

.ui-panel-8-col td:nth-child(1){
  width: 3%;
}
.ui-panel-8-col td:nth-child(2){
  width: 10%;
}

.ui-panel-8-col td:nth-child(3){
  width: 7%;
}

.ui-panel-8-col td:nth-child(4){
  width: 20%;
}
.ui-panel-8-col td:nth-child(5),
.ui-panel-8-col td:nth-child(6),
.ui-panel-8-col td:nth-child(7),
.ui-panel-8-col td:nth-child(8){
  width: 15%;
}
