<nz-modal class="ant-form" nzWidth="950px" [(nzVisible)]="isVisible" nzTitle="Thêm mới điều luật khởi tố"
          nzClosable="false" [nzTitle]="title" nzMaskClosable="false">
  <ng-template #title>
    Chọn người tạm giữ
    <div class="pull-right icon-close">
      <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>
  <ng-container>
    <table class="ui-panel-8-col">
      <tr>
        <td><label>
          Mã
        </label></td>
        <td>
          <input nz-input placeholder="Mã" [(ngModel)]="filterItem.dataRequest.id" appNumberic />
        </td>
        <td>
          <label>
            Họ tên
          </label>
        </td>
        <td>
          <input nz-input placeholder="Họ tên" [(ngModel)]="filterItem.dataRequest.fullName"/>
        </td>
        <td><label>
          Thời gian bắt giữ từ
        </label></td>
        <td>
          <nz-date-picker style="width: 100%" nzPlaceHolder="dd/MM/yyyy" title="dd/MM/yyyy" title="Tạm giữ từ ngày"
                          nzFormat="dd/MM/yyyy" [(ngModel)]="filterItem.dataRequest.fromDate"
                          (input)="onValueFromDate($event)" (keypress)="validateOnlyNumbers($event)"></nz-date-picker>
        </td>
        <td>
          <label>
            Thời gian bắt giữ đến
          </label>
        </td>
        <td>
          <nz-date-picker style="width: 100%" nzPlaceHolder="dd/MM/yyyy" title="dd/MM/yyyy" title="Tạm giữ đến ngày"
                          nzFormat="dd/MM/yyyy" [(ngModel)]="filterItem.dataRequest.toDate"
                          (input)="onValueToDate($event)" (keypress)="validateOnlyNumbers($event)"></nz-date-picker>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <nz-form-control>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="12">
                <button nz-button nzType="primary" (click)="doSearch()">Tìm kiếm
                </button>
              </div>
              <div nz-col [nzSpan]="12">
                <button nz-button nzType="primary" (click)="handleCancel()">Quay lại
                </button>
              </div>
            </div>
          </nz-form-control>
        </td>
      </tr>
    </table>
    <section *ngIf="datas.length; else nodata">
      <nz-table style="width: 100%" #basicTable [nzData]="datas"
                [nzFrontPagination]="false"
                [nzTotal]="pageResponse.totalElements"
                [nzPageSize]="pageResponse.pageSize"
                [nzPageIndex]="pageResponse.pageNumber"
                nzSize="small"
                nzShowSizeChanger [nzShowTotal]="rangeTemplate" [nzLoading]="loading"
                (nzQueryParams)="onQueryParamsChange($event)"
                [nzPageSizeOptions]="pageSize"
      >
        <thead>
        <tr>
          <th class="text-nowrap center" style="width: 20px">Mã</th>
          <th class="text-nowrap center" style="width: 60px">Đơn vị bắt giữ</th>
          <th class="text-nowrap center" style="width: 60px">Họ tên</th>
          <th class="text-nowrap center" style="width: 60px">Ngày sinh</th>
          <th class="text-nowrap center" style="width: 80px">Địa chỉ</th>
          <th class="text-nowrap center" style="width: 60px">Nội dung bắt giữ</th>
          <th class="text-nowrap center" style="width: 30px" *ngIf="datas && datas.length > 0">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index;" class="actived">
          <td class="text-nowrap center">{{ data.id }}</td>
          <td class="text-nowrap center">{{ data.arrestingUnitName }}</td>
          <td class="text-nowrap center">{{ data.fullName }}</td>
          <td class="text-nowrap center">{{ data.dateOfBirth }}</td>
          <td class="text-nowrap center">{{ data.address }}</td>
          <td class="text-nowrap center">{{ data.arrestReason }}</td>
          <td class="text-nowrap center" *ngIf="datas && datas.length > 0">
            <button class="btn-qla" nz-tooltip nzTooltipTitle="Áp dụng" (click)="submitArrestee(data)">
              <span class="fa fa-fw fa-check"></span></button>
            <button class="btn-qla" nz-tooltip nzTooltipTitle="Xem" (click)="chooseArresteeDetail(data)">
              <span class="fa fa-fw fa-eye"></span></button>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </section>
    <ng-template #nodata>
      <nz-empty
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl"
      >
        <ng-template #contentTpl>
          <p>Không tìm thấy kết quả
          </p>
        </ng-template>
      </nz-empty>
    </ng-template>
  </ng-container>
  <div *nzModalFooter></div>
</nz-modal>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
</ng-template>
<app-d-arrestee-detail (closeModal)="closePopupArresteeDetail()" (submitForm)="submitArresteeDetail($event)"
                       [isVisibleDialog]="isArresteeDetail" [arrestee]="arresteeModelForEdit"></app-d-arrestee-detail>
