<nz-modal nzWidth="1000px" [(nzVisible)]="isVisible" nzClosable="false" [nzTitle]="title" nzMaskClosable="false">
    <ng-template #title>
        {{ titleName }} chỉ tiêu thống kê bị can
        <div class="pull-right icon-close">
            <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
        </div>
    </ng-template>
    <div>
        <fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
            <div class="ui-fieldset-content ant-advanced-search-form">
                <div nz-row>
                    <div nz-col [nzLg]="10" [nzMd]="12" [nzXs]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="10">Mã chỉ tiêu</nz-form-label>
                            <nz-form-control [nzSpan]="12">
                                <input nz-input placeholder="Mã phòng ban" [(ngModel)]="data.statid" disabled>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
    
                    <div nz-col [nzLg]="10" [nzMd]="12" [nzXs]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="10">Tên chỉ tiêu<span style="color: red">&nbsp;*</span></nz-form-label>
                            <nz-form-control [nzSpan]="12">
                                <input nz-input placeholder="Tên phòng ban" [(ngModel)]="data.statname">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <div nz-col [nzLg]="10" [nzMd]="12" [nzXs]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="10">Tình trạng áp dụng<span style="color: red">&nbsp;*</span></nz-form-label>
                            <nz-form-control [nzSpan]="12">
                                <nz-radio-group [(ngModel)]= "data.status">
                                    <label nz-radio nzValue="Y">Có</label>
                                    <label nz-radio nzValue="N">Không</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzLg]="10" [nzMd]="12" [nzXs]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="10">Người chưa thành niên<span style="color: red">&nbsp;*</span></nz-form-label>
                            <nz-form-control [nzSpan]="12">
                                <nz-radio-group [(ngModel)]= "data.children">
                                    <label nz-radio nzValue="Y">Có</label>
                                    <label nz-radio nzValue="N">Không</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row>
                    <div nz-col [nzLg]="10" [nzMd]="12" [nzXs]="12">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="10">Người lớn<span style="color: red">&nbsp;*</span></nz-form-label>
                            <nz-form-control [nzSpan]="12">
                                <nz-radio-group [(ngModel)]= "data.adult">
                                    <label nz-radio nzValue="Y">Có</label>
                                    <label nz-radio nzValue="N">Không</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div *nzModalFooter>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="handleOk()">
                <span class="fa fa-fw fa-save"></span>Ghi lại
            </button>
            <ng-container *ngIf="!data.isEdit">
                <button nz-button [nzType]="'primary'" (click)="doReset()">
                    <span class="fa fa-fw fa-plus"></span>Thêm mới
                </button>
            </ng-container>
            <button nz-button [nzType]="'primary'" (click)="handleCancel()">
                <span class="fa fa-fw fa-arrow-left"></span>Quay lại
            </button>
        </div>
    </div>
</nz-modal>