<app-law-offense
  [isVisibleDialog]="isVisibleDialog" [mode]="modeLawOffense" [lawOffenseModel]="lawOffenceForEdit"
  [lawOffenceListIndex]="indexForEdit"
  (saveEmitter)="addOrUpdateLawOffence($event)" (closeModal)="this.isVisibleDialog=false"
></app-law-offense>

<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
  <legend class="ui-fieldset-legend ui-corner-all ui-state-default" (click)="toggleCollapse()">
    <i nz-icon [nzType]="isCollapse ? 'minus' : 'plus'"></i>Hành vi phạm tội
  </legend>

  <div class="px-3" [ngClass]="isCollapse ? 'show' : 'hide'">
    <div class="data-table mt-0 mb-2">
      <div *ngIf="mode != modeEnum.VIEW_FROM_PARENT && mode != modeEnum.VIEW">
        <button class="float-right mb-2" nz-button (click)="openDetailDialog(modeEnum.CREATE)" nzType="primary" type="button">
          <span class="fa fa-fw fa-plus"></span>Thêm mới</button>
      </div>
      <nz-table #basicTable class="custom-table" [nzData]="visibleLawOffenceList" [nzShowPagination]="true"
                nzSize="small" nzShowSizeChanger [nzTableLayout]="'fixed'" [nzLoading]="loading" [nzPageSize]="5"
                [nzPageSizeOptions]="pageSize" [nzFrontPagination]="true" [nzShowTotal]="rangeTemplate">
        <thead>
        <tr>
          <th style="width: 15%">Điều luật</th>
          <th style="width: 15%">Khoản luật</th>
          <th style="width: 15%">Điểm luật</th>
          <th style="width: 15%">Bộ luật</th>
          <th style="width: 25%">Tội danh</th>
          <th style="width: 15%">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index;" class="actived"
            ngClass="s-{{data.selected}}">
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['enactmentId']">
            {{ data['enactmentId']}}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['item']">
            {{ data['item'] }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['point']">
            {{ data['point']  }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['lawName']">
            {{ data['lawName']  }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['enactmentName']">
            {{ data['enactmentName'] }}</td>
          <td class="text-center">
            <ng-container *ngIf="mode == modeEnum.VIEW_FROM_PARENT || mode == modeEnum.VIEW">
              <button nz-button class="mx-1" type="button" [nzGhost]="true" style="padding-left: 8px !important;"
                      nz-tooltip nzTooltipTitle="Xem"
                      (click)="openDetailDialog(modeEnum.VIEW_FROM_PARENT, i)">
                <i nz-icon nzType="file" nzTheme="twotone"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="mode != modeEnum.VIEW_FROM_PARENT && mode != modeEnum.VIEW">
              <button nz-button class="mx-1" type="button" [nzGhost]="true"  style="padding-left: 8px !important"
                      nz-tooltip nzTooltipTitle="Xem"
                      (click)="openDetailDialog(modeEnum.VIEW, i)">
                <i nz-icon nzType="file" nzTheme="twotone"></i>
              </button>
              <button nz-button class="mx-1" type="button" [nzGhost]="true"  style="padding-left: 8px !important"
                      nz-tooltip nzTooltipTitle="Sửa"
                      (click)="openDetailDialog(modeEnum.UPDATE, i)">
                <i nz-icon nzType="edit" nzTheme="twotone"></i>
              </button>
              <button nz-button nz-popconfirm nzPopconfirmTitle="Bạn có chắc chắn xóa thông tin không?"
                      [nzGhost]="true" style="padding-left: 8px !important"
                      nz-tooltip nzTooltipTitle="Xóa"
                      nzPopconfirmPlacement="bottom" class="mx-1" type="button"
                      nzOkText="Không" nzCancelText="Có" nzOkType="default"
                      (nzOnConfirm)="cancelDelete()"
                      (nzOnCancel)="deleteLawOffence(i)">
                <i nz-icon nzType="delete" nzTheme="twotone"></i>
              </button>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #rangeTemplate let-range="range" let-total>
        <!--    {{ range[0] }}-{{ range[1] }} {{'của' | translate }} {{ total }} {{ 'bản ghi' }}-->
        {{ range[0] }}-{{ range[1] }} {{' của ' | translate }} {{ visibleLawOffenceList.length }} {{ ' bản ghi' }}
      </ng-template>
    </div>
  </div>
</fieldset>

