<div nz-row>
  <div nz-col [nzLg]="16" [nzSpan]="24">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Loại quyết định</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-radio-group [(ngModel)]= "filterItem.applyfor">
          <div>
            <label class="lableRadio" nz-radio nzValue="C">Quyết định cho vụ án</label>
            <label class="lableRadio" nz-radio nzValue="A">Quyết định cho bị can</label>
          </div>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div nz-row>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Mã quyết đinh</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input [(ngModel)]="filterItem.decicode" nz-input placeholder="Mã quyết đinh">
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Tên quyết định</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input nz-input placeholder="Tên quyết định" [(ngModel)]="filterItem.deciname">
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div nz-row>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Quyết định số</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input [(ngModel)]="filterItem.setnum" nz-input placeholder="Quyết định số">
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Giai đoạn</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select [(ngModel)]="filterItem.userfor" nzPlaceHolder="Giai đoạn">
          <nz-option nzValue="" nzLabel="Tất cả" selected></nz-option>
          <nz-option nzValue="G1" nzLabel="Kiểm sát điều tra"></nz-option>
          <nz-option nzValue="G2" nzLabel="Kiểm sát giải quyết án - Truy tố"></nz-option>
          <nz-option nzValue="G3" nzLabel="Xét xử sơ thẩm"></nz-option>
          <nz-option nzValue="G4" nzLabel="Xét xử phúc thẩm"></nz-option>
          <nz-option nzValue="G5" nzLabel="Xét xử giám đốc thẩm"></nz-option>
          <nz-option nzValue="G6" nzLabel="Thi hành án"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div nz-row>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Từ ngày</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker (input)="onValueFDate($event)"
                        (keypress)="validateOnlyNumbers($event)"
                        [(ngModel)]="filterItem.fromdatedeci"
                        nzPlaceHolder="dd/MM/yyyy" nzFormat="dd/MM/yyyy"
                        nz-tooltip nzTooltipTitle="Ngày quyết định">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đến ngày</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker (input)="onValueTDate($event)"
                        (keypress)="validateOnlyNumbers($event)"
                        [(ngModel)]="filterItem.todatedeci"
                        (ngModelChange)="checkDate()"
                        nzPlaceHolder="dd/MM/yyyy" nzFormat="dd/MM/yyyy"
                        nz-tooltip nzTooltipTitle="Ngày quyết định">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div class="ui-panel">
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">
        <span class="fa fa-fw fa-search"></span>
        Tìm kiếm
      </button>
      <button [disabled]="isDetailBtn" nz-button [nzType]="'primary'" (click)="showDetail()">
        <span class="fa fa-fw fa-eye"></span>Chi tiết
      </button>
      <a target="_blank" [routerLink]="['/report/caseinfo/', selectedItem?.CASECODE]" href="">
        <button [disabled]="!selectedItem" nz-button nzType="primary">
          <span class="fa fa-fw fa-eye"></span>
          Chi tiết vụ án
        </button>
      </a>
    </div>
  </div>
</div>
<ng-container>
  <div class="data-table">
    <nz-table #basicTable nzShowSizeChanger [nzFrontPagination]="false" nzSize="small" [nzData]="datas"
              [nzScroll]="{ x: '1200px' }" [nzLoading]="loading" [nzShowTotal]="rangeTemplate"
              [nzPageSize]="defaultPage"
              [nzTotal]="total" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
      <tr>
        <th class="text-nowrap" nzWidth="5%">STT</th>
        <th class="text-nowrap" mat-sort-header="casecode" nzWidth="10%">Mã vụ án</th>
        <th class="text-nowrap" nzWidth="15%">Tên vụ án</th>
        <th class="text-nowrap" nzWidth="15%">Mã thụ lý</th>
        <th class="text-nowrap" nzWidth="10%">Mã quyết định</th>
        <th class="text-nowrap" nzWidth="10%">Tên quyết định</th>
        <th class="text-nowrap" nzWidth="10%">Quyết định số</th>
        <th class="text-nowrap" nzWidth="15%">Ngày quyết định</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index;" class="actived" (click)="onRowSelect(data)"
          [class.selected]="data === selectedItem">
        <td style="text-align: center" class="text-nowrap">{{getRowIndex(i, basicTable.nzPageIndex,
          basicTable.nzPageSize)}}</td>
        <td class="text-nowrap center">{{ data.CASECODE }}</td>
        <td class="text-nowrap">{{ data.CASENAME }}</td>
        <td class="text-nowrap center">{{ data.REGICODE }}</td>
        <td class="text-nowrap center">{{ data.DECICODE }}</td>
        <td class="text-nowrap center">{{ data.DECINAME }}</td>
        <td class="text-nowrap center">{{ data.SETNUM }}</td>
        <td class="text-nowrap center">{{ data.INDATE | dateFormat }}</td>
      </tr>
      </tbody>
    </nz-table>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
    </ng-template>
  </div>
</ng-container>
<ng-container *ngIf="isVisibleDetail">
  <app-lookup-detail (closeModal)="closeDetail($event)" [isVisible]="isVisibleDetail" [data]="data"></app-lookup-detail>
</ng-container>
