<div *ngIf="isViewTable">
    <fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
        <div class="ui-fieldset-content ant-advanced-search-form">
            <!-- Row -->
            <div nz-row>
                <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Mã quyết định</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <input nz-input [(ngModel)]="filterItem.id">
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Tên quyết định</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <input nz-input [(ngModel)]="filterItem.name">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row -->
            <div nz-row>
                <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Áp dụng cho</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-select [(ngModel)]="filterItem.applyFor">
                                <nz-option nzValue="" nzLabel="Tất cả" selected></nz-option>
                                <nz-option nzValue="A" nzLabel="Bị can"></nz-option>
                                <nz-option nzValue="C" nzLabel="Vụ án"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Kết thúc hiệu lực</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-select [(ngModel)]="filterItem.applyFinish">
                                <nz-option nzValue="" nzLabel="Tất cả" selected></nz-option>
                                <nz-option nzValue="N" nzLabel="Không"></nz-option>
                                <nz-option nzValue="Y" nzLabel="Có"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row -->
            <div nz-row>
                <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Trạng thái sử dụng</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-select [(ngModel)]="filterItem.status">
                                <nz-option nzValue="" nzLabel="Tất cả" selected></nz-option>
                                <nz-option nzValue="N" nzLabel="Không"></nz-option>
                                <nz-option nzValue="Y" nzLabel="Có"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Loại quyết định</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-select [(ngModel)]="filterItem.deciType">
                                <nz-option nzValue="" nzLabel="Tất cả" selected></nz-option>
                                <nz-option *ngFor="let option of lstDecitype" [nzValue]="option.decitypeid"
                                    nzLabel="{{ option.decitypeid }} - {{option.name}}">
                                    {{ option.decitypeid }} - {{option.name}}
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- Row -->
            <div nz-row>
                <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="10">Giai đoạn áp dụng</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                            <nz-select [(ngModel)]="filterItem.userFor">
                                <nz-option nzValue="" nzLabel="Tất cả" selected></nz-option>
                                <nz-option nzValue="G1" nzLabel="Kiểm sát điều tra"></nz-option>
                                <nz-option nzValue="G2" nzLabel="Truy tố"></nz-option>
                                <nz-option nzValue="G3" nzLabel="Sơ thẩm"></nz-option>
                                <nz-option nzValue="G4" nzLabel="Phúc thẩm"></nz-option>
                                <nz-option nzValue="G5" nzLabel="Giám đốc thẩm/ Tái thẩm"></nz-option>
                                <nz-option nzValue="G6" nzLabel="Thi hành án"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="ui-panel">
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="forwardTable()" style="float: left">
                <span class="fa fa-fw fa-exchange-alt"></span>
                {{ titleTable }}
            </button>
            <ng-container *ngIf="isViewTable">
                <button nz-button [nzType]="'primary'" (click)="doSearch()">
                    <span class="fa fa-fw fa-search"></span>
                    Tìm kiếm
                </button>
            </ng-container>
            <button [disabled]="isDetailBtn" nz-button [nzType]="'primary'" (click)="showDetail()">
                <span class="fa fa-fw fa-eye"></span>Chi tiết
            </button>
            <button [disabled]="isBtnAddDisabled" nz-button [nzType]="'primary'" (click)="showCreateForm()">
                <span class="fa fa-fw fa-plus"></span> Thêm mới
            </button>
            <button [disabled]="isUpdBtn" nz-button [nzType]="'primary'" (click)="showEditForm()">
                <span class="fa fa-fw fa-edit"></span> Sửa
            </button>
            <button [disabled]="isDeleteBtn" nz-button nzType="danger" nz-popconfirm
                nzPopconfirmTitle="Bạn có chắc chắn muốn xóa dữ liệu không?" nzPopconfirmPlacement="top"
                nzCancelText="Hủy" nzOkText="Đồng ý" (nzOnConfirm)="doDelete()" nzType="danger">
                <span class="fa fa-fw fa-times"></span> Xóa
            </button>
        </div>
    </div>
</div>
<ng-container *ngIf="isViewTable">
    <div class="data-table">
        <nz-table #basicTable nzShowSizeChanger [nzFrontPagination]="false" nzSize="small" [nzData]="datas"
            [nzScroll]="{ x: '1200px' }" [nzLoading]="loading" [nzShowTotal]="rangeTemplate" [nzPageSize]="defaultPage"
            [nzTotal]="total" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th class="text-nowrap" nzWidth="5%">STT</th>
                    <th class="text-nowrap" nzWidth="15%">Mã QĐ</th>
                    <th class="text-nowrap center" nzWidth="30%">Tên quyết định</th>
                    <th class="text-nowrap" nzWidth="10%">Áp dụng</th>
                    <th class="text-nowrap" nzWidth="10%">Kết thúc hiệu lực</th>
                    <th class="text-nowrap center" nzWidth="20%">Giai đoạn</th>
                    <th class="text-nowrap" nzWidth="10%">Trạng thái</th>
                    <th class="text-nowrap" nzWidth="10%">Loại quyết định</th>
                    <th class="text-nowrap" nzWidth="10%">Người tạo</th>
                    <th class="text-nowrap" nzWidth="10%">Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index;" class="actived" (click)="onRowSelect(data)"
                    [class.selected]="data === selectedItem">
                    <td style="text-align: center" class="text-nowrap">{{getRowIndex(i, basicTable.nzPageIndex,
                        basicTable.nzPageSize)}}</td>
                    <td class="text-nowrap center">{{ data.deciid }}</td>
                    <td class="text-nowrap" title="{{ data.deciname }}">{{ data.deciname }}</td>
                    <td class="text-nowrap">{{ data.applyfor_DIS }}</td>
                    <td class="text-nowrap">{{ data.applyfinish_DIS }}</td>
                    <td class="text-nowrap" title="{{ data.usefor_DIS }}">{{ data.usefor_DIS }}</td>
                    <td class="text-nowrap">{{ data.status_DIS }}</td>
                    <td class="text-nowrap center">{{ data.decitypename }}</td>
                    <td class="text-nowrap center">{{ data.crtuser }}</td>
                    <td class="text-nowrap center">{{ data.crtdate | dateFormat }}</td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
        </ng-template>
    </div>
</ng-container>

<ng-container *ngIf="!isViewTable">
    <div class="data-table">
        <nz-table #expandTable [nzData]="listOfMapData" nzTableLayout="fixed" [nzHideOnSinglePage]="true"
            nzPaginationType="small" [nzShowPagination]="false" nzSize="small" [nzLoading]="loadTree">
            <thead>
                <tr>
                    <th class="text-nowrap" nzWidth="10%">Mã QĐ</th>
                    <th class="text-nowrap center" nzWidth="30%">Tên quyết định</th>
                    <th class="text-nowrap" nzWidth="10%">Áp dụng</th>
                    <th class="text-nowrap" nzWidth="10%">Kết thúc hiệu lực</th>
                    <th class="text-nowrap center" nzWidth="20%">Giai đoạn</th>
                    <th class="text-nowrap" nzWidth="10%">Trạng thái</th>
                    <th class="text-nowrap" nzWidth="15%">Loại quyết định</th>
                    <th class="text-nowrap" nzWidth="10%">Người tạo</th>
                    <th class="text-nowrap" nzWidth="10%">Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of expandTable.data">
                    <ng-container *ngFor="let item of mapOfExpandedData[data.deciid]">
                        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent" class="actived"
                            (click)="onRowSelect(item)" [class.selected]="item === selectedItem">
                            <td [nzIndentSize]="item.decilevel! * 5" [nzShowExpand]="!!(item.plusChildren === 'Y')"
                                [(nzExpand)]="item.expand"
                                (nzExpandChange)="collapse(mapOfExpandedData[data.deciid], item, $event)"> {{
                                item.deciid }}</td>
                            <td class="text-nowrap" title="{{ item.deciname }}">{{ item.deciname }}</td>
                            <td class="text-nowrap">{{ item.applyfor_DIS }}</td>
                            <td class="text-nowrap">{{ item.applyfinish_DIS }}</td>
                            <td class="text-nowrap" title="{{ item.usefor_DIS }}">{{ item.usefor_DIS }}</td>
                            <td class="text-nowrap">{{ item.status_DIS }}</td>
                            <td class="text-nowrap center">{{ item.decitypename }}</td>
                            <td class="text-nowrap center">{{ item.crtuser }}</td>
                            <td class="text-nowrap center">{{ item.crtdate | dateFormat }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
</ng-container>
<app-decision-create [data]="data" [isVisible]="isVisibleCreate" [lstDecitype]="lstDecitype"
    (closeModal)="closeModalCreate($event)" (reloadModal)="reloadModalCreate($event)">
</app-decision-create>
<app-decision-detail [data]="data" [isVisible]="isVisibleDetail" (closeModal)="closeModalDetail($event)">
</app-decision-detail>