<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
  <legend class="ui-fieldset-legend ui-corner-all ui-state-default" (click)="toggleCollapse()">
    <i nz-icon [nzType]="isCollapse ? 'minus' : 'plus'"></i>Hành vi vi phạm kỷ luật
  </legend>

  <div class="px-3" [ngClass]="isCollapse ? 'show' : 'hide'">
    <div class="data-table mt-0 mb-2">
      <nz-table #basicTable class="custom-table" [nzData]="visibleViolationList" [nzShowPagination]="true"
                nzSize="small" nzShowSizeChanger [nzTableLayout]="'fixed'" [nzLoading]="loading" [nzPageSize]="5"
                [nzPageSizeOptions]="pageSize" [nzFrontPagination]="true" [nzShowTotal]="rangeTemplate">
        <thead>
        <tr>
          <th style="width: 15%">Ngày vi phạm</th>
          <th style="width: 30%">Nội dung vi phạm</th>
          <th style="width: 40%">Hình thức kỷ luật</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index;" class="actived"
            ngClass="s-{{data.selected}}">
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['violationDate'] | dateFormat" class="text-center">
            {{ data['violationDate'] | dateFormat}}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['violationContent']">
            {{ data['violationContent'] }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['punishmentType']">
            {{ data['punishmentType']  }}</td>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #rangeTemplate let-range="range" let-total>
        <!--    {{ range[0] }}-{{ range[1] }} {{'của' | translate }} {{ total }} {{ 'bản ghi' }}-->
        {{ range[0] }}-{{ range[1] }} {{' của ' | translate }} {{ visibleViolationList.length }} {{ ' bản ghi' }}
      </ng-template>
    </div>
  </div>
</fieldset>
