<div nz-row>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">T/H bàn giao</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-select [(ngModel)]="filterItem.select" nzPlaceHolder="T/H bàn giao" (ngModelChange)="selectChange($event)">
          <nz-option nzValue="CQDT-VKS" nzLabel="Cơ quan điều tra - Viện kiểm sát"></nz-option>
          <nz-option nzValue="TA-VKS" nzLabel="Tòa án - Viện kiểm sát"></nz-option>
          <nz-option nzValue="VKS-CQDT" nzLabel="Viện kiểm sát - Cơ quan điều tra"></nz-option>
          <nz-option nzValue="VKS-TA" nzLabel="Viện kiểm sát - Tòa án"></nz-option>
          <nz-option nzValue="VKS-VKS" nzLabel="Viện kiểm sát - Viện kiểm sát"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div nz-row>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12" *ngIf="this.filterItem.select == 'CQDT-VKS'">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đơn vị giao</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input title="Nhấn phím space hoặc gõ mã hoặc tên để chọn Cơ quan điều tra"
               placeholder="Nhấn phím space hoặc gõ mã hoặc tên để chọn Cơ quan điều tra" nz-input
               [(ngModel)]="filterItem.transfrom" (input)="onInputPolice($event)"
               [nzAutocomplete]="autoPoli"/>
        <nz-autocomplete #autoPoli nzWidth="300">
          <nz-auto-option *ngFor="let option of lstPolice" nzLabel="{{ option.POLICEID}} - {{option.NAME}}"
                          [nzValue]="option">{{ option.POLICEID}} - {{option.NAME}}</nz-auto-option>
        </nz-autocomplete>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12" *ngIf="this.filterItem.select == 'VKS-CQDT'
        || this.filterItem.select == 'VKS-TA' || this.filterItem.select == 'VKS-VKS'">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đơn vị giao</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input title="Nhấn phím space hoặc gõ mã hoặc tên để chọn Viện kiểm sát"
               placeholder="Nhấn phím space hoặc gõ mã hoặc tên để chọn Viện kiểm sát" nz-input
               [(ngModel)]="filterItem.transfrom" (input)="onInputSpp($event)"
               [nzAutocomplete]="autoSpp"/>
        <nz-autocomplete #autoSpp nzWidth="300">
          <nz-auto-option *ngFor="let option of lstSpp" nzLabel="{{ option.SPPID}} - {{option.NAME}}"
                          [nzValue]="option">{{ option.SPPID}} - {{option.NAME}}</nz-auto-option>
        </nz-autocomplete>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12" *ngIf="this.filterItem.select == 'TA-VKS'">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đơn vị giao</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input title="Nhấn phím space hoặc gõ mã hoặc tên để chọn Tòa án"
               placeholder="Nhấn phím space hoặc gõ mã hoặc tên để chọn Tòa án" nz-input
               [(ngModel)]="filterItem.transfrom" (input)="onInputPolice($event)"
               [nzAutocomplete]="autoSpc"/>
        <nz-autocomplete #autoSpc nzWidth="300">
          <nz-auto-option *ngFor="let option of lstSpc" nzLabel="{{ option.SPCID}} - {{option.NAME}}"
                          [nzValue]="option">{{ option.SPCID}} - {{option.NAME}}</nz-auto-option>
        </nz-autocomplete>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12" *ngIf="this.filterItem.select == 'CQDT-VKS'
         || this.filterItem.select == 'TA-VKS' || this.filterItem.select == 'VKS-VKS' ">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đơn vị nhận</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input title="Nhấn phím space hoặc gõ mã hoặc tên để chọn Viện kiểm sát"
               placeholder="Nhấn phím space hoặc gõ mã hoặc tên để chọn Viện kiểm sát" nz-input
               [(ngModel)]="filterItem.transto" (input)="onInputSpp($event)"
               [nzAutocomplete]="autoSppTo"/>
        <nz-autocomplete #autoSppTo nzWidth="300">
          <nz-auto-option *ngFor="let option of lstSpp" nzLabel="{{ option.SPPID}} - {{option.NAME}}"
                          [nzValue]="option">{{ option.SPPID}} - {{option.NAME}}</nz-auto-option>
        </nz-autocomplete>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12" *ngIf="this.filterItem.select == 'VKS-TA'">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đơn vị nhận</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input title="Nhấn phím space hoặc gõ mã hoặc tên để chọn tòa án"
               placeholder="Nhấn phím space hoặc gõ mã hoặc tên để chọn tòa án" nz-input
               [(ngModel)]="filterItem.transto" (input)="onInputSpc($event)"
               [nzAutocomplete]="autoSpcTo"/>
        <nz-autocomplete #autoSpcTo nzWidth="300">
          <nz-auto-option *ngFor="let option of lstSpc" nzLabel="{{ option.SPCID}} - {{option.NAME}}"
                          [nzValue]="option">{{ option.SPCID}} - {{option.NAME}}</nz-auto-option>
        </nz-autocomplete>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12" *ngIf="this.filterItem.select == 'VKS-CQDT'">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đơn vị nhận</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <input title="Nhấn phím space hoặc gõ mã hoặc tên để chọn Cơ quan điều tra"
               placeholder="Nhấn phím space hoặc gõ mã hoặc tên để Cơ quan điều tra" nz-input
               [(ngModel)]="filterItem.transto" (input)="onInputPolice($event)"
               [nzAutocomplete]="autoCQDT"/>
        <nz-autocomplete #autoCQDT nzWidth="300">
          <nz-auto-option *ngFor="let option of lstPolice" nzLabel="{{ option.POLICEID}} - {{option.NAME}}"
                          [nzValue]="option">{{ option.POLICEID}} - {{option.NAME}}</nz-auto-option>
        </nz-autocomplete>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div nz-row>
  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Ngày bàn giao từ ngày</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker (input)="onValueFDate($event)"
                        (keypress)="validateOnlyNumbers($event)"
                        [(ngModel)]="filterItem.fromdatetrans"
                        nzPlaceHolder="dd/MM/yyyy" nzFormat="dd/MM/yyyy"
                        nz-tooltip nzTooltipTitle="Ngày bàn giao từ ngày">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div nz-col [nzLg]="8" [nzMd]="12" [nzXs]="12">
    <nz-form-item>
      <nz-form-label [nzSpan]="10">Đến ngày</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <nz-date-picker (input)="onValueTDate($event)"
                        (keypress)="validateOnlyNumbers($event)"
                        [(ngModel)]="filterItem.todatetrans"
                        (ngModelChange)="checkDate()"
                        nzPlaceHolder="dd/MM/yyyy" nzFormat="dd/MM/yyyy"
                        nz-tooltip nzTooltipTitle="Ngày bàn giao đến ngày">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>

<div class="ui-panel">
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">
        <span class="fa fa-fw fa-search"></span>
        Tìm kiếm
      </button>
      <button [disabled]="isDetailBtn" nz-button [nzType]="'primary'" (click)="showDetail()">
        <span class="fa fa-fw fa-eye"></span>Chi tiết
      </button>
      <a target="_blank" [routerLink]="['/report/caseinfo/', selectedItem?.CASECODE]" href="">
        <button [disabled]="!selectedItem" nz-button nzType="primary">
          <span class="fa fa-fw fa-eye"></span>
          Chi tiết vụ án
        </button>
      </a>
    </div>
  </div>
</div>
<ng-container>
  <div class="data-table">
    <nz-table #basicTable nzShowSizeChanger [nzFrontPagination]="false" nzSize="small" [nzData]="datas"
              [nzScroll]="{ x: '1200px' }" [nzLoading]="loading" [nzShowTotal]="rangeTemplate"
              [nzPageSize]="defaultPage"
              [nzTotal]="total" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
      <tr>
        <th class="text-nowrap" nzWidth="5%">STT</th>
        <th class="text-nowrap" mat-sort-header="casecode" nzWidth="8%">Mã vụ án</th>
        <th class="text-nowrap" nzWidth="15%">Tên vụ án</th>
        <th class="text-nowrap" nzWidth="8%">Ngày bàn giao</th>
        <th class="text-nowrap" nzWidth="12%">Đơn vị giao</th>
        <th class="text-nowrap" nzWidth="12%">Đơn vị nhận</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index;" class="actived" (click)="onRowSelect(data)"
          [class.selected]="data === selectedItem">
        <td style="text-align: center" class="text-nowrap">{{getRowIndex(i, basicTable.nzPageIndex,
          basicTable.nzPageSize)}}</td>
        <td class="text-nowrap center">{{ data.CASECODE }}</td>
        <td class="text-nowrap">{{ data.CASENAME }}</td>
        <td class="text-nowrap center">{{ data.TRANSDATE | dateFormat}}</td>
        <td class="text-nowrap">{{ data.TRANSFROM }}</td>
        <td class="text-nowrap">{{ data.TRANSTO }}</td>
      </tr>
      </tbody>
    </nz-table>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
    </ng-template>
  </div>
</ng-container>
<ng-container *ngIf="isVisibleDetail">
  <app-lookup-detail (closeModal)="closeDetail($event)" [isVisible]="isVisibleDetail" [data]="data"></app-lookup-detail>
</ng-container>
