<nz-modal *ngIf="data" class="ant-form" nzWidth="1000px" [(nzVisible)]="isVisible" nzTitle="Thêm mới" nzClosable="false" [nzTitle]="title" nzMaskClosable="false" [nzLoading]="loading">
  <ng-template #title>
    Phân công Kiểm sát viên
    <div class="pull-right icon-close">
      <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>
  <ng-container>
    <table width="100%" class="ui-panelgrid table-4-col">
      <tr>
        <td>
          <label title='Nhấn dấu cách để chọn tất cả, hoặc gõ mã hoặc tên để chọn từ danh mục'>
            {{ data.position_type == 'KS' ? 'Kiểm sát viên được phân công' : 'Điều tra viên được phân công'}}
            <span class="required">*</span>
          </label>
        </td>
        <td>
          <input [disabled]="data.isEdit == true || isVisibleDisable" title="Chọn người được phân công" [required]="isSubmited"
            placeholder="" nz-input [(ngModel)]="data.atxtIns" (input)="onInputInspector($event)"
            [nzAutocomplete]="auto" (blur)="blurInspector()" />
          <nz-autocomplete #auto>
            <nz-auto-option *ngFor="let option of inspectorOpions" [nzLabel]="option.FULLNAME" [nzValue]="option">{{
              option.INSPCODE }} - {{ option.FULLNAME }}</nz-auto-option>
          </nz-autocomplete>
        </td>
        <td>
          <label>
            Quyết định phân công số
          </label>
        </td>
        <td>
          <input [disabled]="isVisibleDisable" title="Quyết định phân công số" nz-input [(ngModel)]="data.setnum" />
        </td>
      </tr>
      <tr>
        <td><label>
            Ngày phân công <span class="required">*</span>
          </label></td>
        <td>
          <nz-date-picker [disabled]="isVisibleDisable" [required]="isSubmited" title="Chọn ngày" nzPlaceHolder="dd/MM/yyyy"
            [(ngModel)]="data.assigndate" nzFormat="dd/MM/yyyy" (input)="onValueAssigndate($event,'assigndate')"
            (keypress)="validateOnlyNumbers($event)"></nz-date-picker>
        </td>
        <td><label title="Nhấn dấu cách để chọn tất cả, hoặc gõ mã hoặc tên để chọn từ danh mục">
            Người ký
          </label></td>
        <td>
          <input [disabled]="isVisibleDisable" placeholder="" nz-input [(ngModel)]="data.atxtAssignIns" (input)="onInputAssignInspector($event)"
            [nzAutocomplete]="auto1" />
          <nz-autocomplete #auto1 [compareWith]="compareFun1">
            <nz-auto-option *ngFor="let option of assignInsOptions" [nzLabel]="option.FULLNAME" [nzValue]="option">{{
              option.INSPCODE }} - {{ option.FULLNAME }}</nz-auto-option>
          </nz-autocomplete>
        </td>
      </tr>
    </table>
  </ng-container>
  <div *nzModalFooter>
    <button *ngIf="!isVisibleDisable" nz-button nzType="primary" type="button" (click)="handleOk()">
      {{'save' | translate }}
    </button>
    <button *ngIf="!isVisibleDisable" nz-button nzType="primary" type="button" (click)="handleReset()">
      {{'add_user' | translate }}
    </button>
    <button nz-button nzType="default" type="button" (click)="handleCancel()">
      {{'cancel' | translate }}</button>
  </div>
</nz-modal>