<nz-modal *ngIf="data" nzWidth="1000px"
          [(nzVisible)]="isVisible"
          nzClosable="false"
          [nzTitle]="title"
          [nzAutofocus]="null"
          nzMaskClosable="false">
  <ng-template #title>
    Cập nhật Đơn vị quân đội
    <div class="pull-right icon-close">
      <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>

  <div>
    <div class="ui-fieldset-content ant-advanced-search-form">
      <ng-container>
        <table width="100%" class="ui-panelgrid table-4-col">
          <tr>
            <td>
              <label class="text-right">Mã đơn vị quân đội cấp cha</label>
            </td>
            <td>
              <input disabled [(ngModel)]="data.armyparent" nz-input>
            </td>
          </tr>
          <tr>
            <td>
              <label class="text-right">Mã đơn vị quân đội<span class="required">*</span></label>
            </td>
            <td>
              <input disabled nz-input [(ngModel)]="data.armyid" nz-input>
            </td>
            <td>
              <label>Tên đơn vị quân đội<span class="required">*</span></label>
            </td>
            <td>
              <input nz-input placeholder="Tên đơn vị quân đội" [(ngModel)]="data.name">
            </td>
          </tr>
          <tr>
            <td>
              <label>Địa chỉ<span class="required">*</span></label>
            </td>
            <td>
              <input class="ng-pristine ng-valid" placeholder="Địa chỉ" [(ngModel)]="data.addr" nz-input nzAllowClear (input)="onInputLocation($event) "
                     [nzAutocomplete]="autoLocation"/>
              <nz-autocomplete #autoLocation>
                <nz-auto-option *ngFor="let option of lstLocation" [nzLabel]="option.LOCAID + ' - ' + option.REMARK" [nzValue]="option">{{ option.LOCAID }} - {{ option.REMARK }}</nz-auto-option>
              </nz-autocomplete>
            </td>
            <td>
              <label  class="text-right">Viện kiểm sát cùng cấp<span class="required">*</span></label>
            </td>
            <td>
              <input class="ng-pristine ng-valid" placeholder="Viện kiểm sát cùng cấp" nz-input [(ngModel)]="data.sppid" nzAllowClear (input)="onInputSpp($event)"
                     [nzAutocomplete]="autoSPP"/>
              <nz-autocomplete #autoSPP>
                <nz-auto-option *ngFor="let option of lstSpp" [nzLabel]="option.NAME" [nzValue]="option">{{ option.SPPID }} - {{ option.NAME }}</nz-auto-option>
              </nz-autocomplete>
            </td>
          </tr>
          <tr>
            <td>
              <label class="text-right">Điện thoại</label>
            </td>
            <td>
              <input [(ngModel)]="data.tel" nz-input placeholder="Số điện thoại">
            </td>
            <td>
              <label class="text-right">Fax</label>
            </td>
            <td>
              <input [(ngModel)]="data.fax" nz-input placeholder="Fax">
            </td>
          </tr>
          <tr>
            <td>
              <label class="text-right">Người ký</label>
            </td>
            <td>
              <input [(ngModel)]="data.director" nz-input placeholder="Người ký">
            </td>
            <td>
              <label class="text-right">Chức vụ</label>
            </td>
            <td>
              <input [(ngModel)]="data.position" nz-input placeholder="Chức vụ">
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
  </div>

  <div *nzModalFooter>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="handleOk()">
        <span class="fa fa-fw fa-save"></span>Ghi lại
      </button>
      <button nz-button [nzType]="'primary'" (click)="handleCancel()">
        <span class="fa fa-fw fa-arrow-left"></span>Quay lại
      </button>
    </div>
  </div>
</nz-modal>
