.action button {
  margin-left: 3px;
}

.text-nowrap a {
  text-decoration: underline;
}

.div-btn-right-2 button {
  float: right;
  text-align: right;
}

.div-btn-right-2 {
  width: 97%;
}

.ui-fieldset-content {
  padding: 4px;
}

.ui-table{
 padding-bottom: 4px;
}

.ui-table td{
  word-break: break-word;
 }

.color-forec{
  color: #1e69d8;
}

.font-notif{
  color: red;
  font-size: 20px;
}

.ui-panelgrid td {
  padding: 0.5px 5px !important;
}

.ui-from label{
  padding: 0 5px;
}

.ui-panel-6-col td:nth-child(1),
.ui-panel-6-col td:nth-child(3){
  width: 15%;
}
.ui-panel-6-col td:nth-child(2),
.ui-panel-6-col td:nth-child(4){
    width: 25%;
}

.ui-panel-6-col td:nth-child(5),
.ui-panel-6-col td:nth-child(6){
    width: 10%;
}
