<app-d-investigation-activity-detail [isVisibleDialog]="isDialogVisible" [mode]="mode"
                                   [investigationActivity]="investigationActivityForEdit" [procurators]="procurators"
                                   [investigationActivityType]="investigationActivityType"
                                   [denouncementProcessType]="denouncementProcessType"
                                   (cancelEmitter)="this.isDialogVisible = false">
</app-d-investigation-activity-detail>
<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
  <legend class="ui-fieldset-legend ui-corner-all ui-state-default" (click)="toggleCollapse()">
    <i nz-icon [nzType]="isCollapse ? 'minus' : 'plus'"></i>Các hoạt động của cơ quan điều tra tiến hành
  </legend>

  <div class="px-3" [ngClass]="isCollapse ? 'show' : 'hide'">
    <div class="data-table mt-0 mb-2">
      <nz-table #basicTable class="custom-table" [nzData]="visibleActivityList" [nzShowPagination]="false"
                nzSize="small" nzShowSizeChanger [nzTableLayout]="'fixed'" [nzLoading]="loading" [nzPageSize]="5"
                [nzPageSizeOptions]="pageSize" [nzFrontPagination]="true" [nzShowTotal]="rangeTemplate">
        <thead>
        <tr>
          <th style="width: 10%">Hoạt động điều tra</th>
          <th style="width: 10%">Ngày thực hiện</th>
          <th style="width: 15%">ĐTV thực hiện</th>
          <th style="width: 10%">VKS tham gia</th>
          <th style="width: 15%">KSV tham gia</th>
          <th style="width: 15%">Nhận định đánh giá</th>
          <th style="width: 15%">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index;" class="actived"
            ngClass="s-{{data.selected}}">
          <td nzEllipsis nz-tooltip
              [nzTooltipTitle]="data['investigationActivityType'] | valueToDisplayText:investigationActivityType:'paramValue':'paramName'">
            {{ data['investigationActivityType'] | valueToDisplayText:investigationActivityType:'paramValue':'paramName' }}</td>
          <td nzEllipsis nz-tooltip
              [nzTooltipTitle]="(data['executionDate'] != null) ? (data['executionDate'] | dateFormat) : ''" class="text-center">
            {{ (data['executionDate'] != null) ? (data['executionDate'] | dateFormat) : '' }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['investigator']">
            {{ data['investigator'] }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['procuracyParticipated'] ? 'Có' : 'Không'">
            {{ data['procuracyParticipated'] ? 'Có' : 'Không' }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['participatedProcurator']">
            {{ data['participatedProcurator'] }}</td>
          <td nzEllipsis nz-tooltip [nzTooltipTitle]="data['assessment']">
            {{ data['assessment'] }}</td>
          <td nzEllipsis nz-tooltip class="text-center">
              <button nz-button class="mx-1" type="button" [nzGhost]="true" style="padding-left: 8px !important;"
                      nz-tooltip nzTooltipTitle="Xem"
                      (click)="openDetailDialog(modeEnum.VIEW_FROM_PARENT, i)">
                <i nz-icon nzType="file" nzTheme="twotone"></i>
              </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} {{' của ' | translate }} {{ visibleActivityList.length }} {{ ' bản ghi' }}
      </ng-template>
    </div>
  </div>
</fieldset>
