<nz-modal *ngIf="data" nzWidth="1000px"
          [(nzVisible)]="isVisible"
          nzClosable="false"
          [nzTitle]="title"
          [nzAutofocus]="null"
          nzMaskClosable="false">
  <ng-template #title>
    Cập nhật hình phạt
    <div class="pull-right icon-close">
      <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>

  <div>
    <div class="ui-fieldset-content ant-advanced-search-form">
      <ng-container>
        <table width="100%" class="ui-panelgrid table-4-col">
          <tr>
            <td>
              <label class="text-right">Mã</label>
            </td>
            <td>
              <input disabled [(ngModel)]="data.penaltyid" nz-input placeholder="Mã">
            </td>
            <td>
              <label>Tên hình phạt<span class="required">*</span></label>
            </td>
            <td>
              <input nz-input placeholder="Tên hình phạt" [(ngModel)]="data.penaltyname">
            </td>
          </tr>
          <tr>
            <td>
              <label class="text-right">Loại hình phạt</label>
            </td>
            <td>
              <nz-radio-group [(ngModel)]="data.penaltyfor">
                <label nz-radio [nzValue]="'N'">Bổ sung</label>
                <label nz-radio [nzValue]="'O'">Khác</label>
                <label nz-radio [nzValue]="'Y'">Chính</label>
              </nz-radio-group>
            </td>
            <td>
              <label class="text-right">Trạng thái</label>
            </td>
            <td>
              <nz-radio-group [(ngModel)]="data.status">
                <label nz-radio [nzValue]="'Y'">Có</label>
                <label nz-radio [nzValue]="'N'">Không</label>
              </nz-radio-group>
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
  </div>

  <div *nzModalFooter>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="handleOk()">
        <span class="fa fa-fw fa-save"></span>Ghi lại
      </button>
      <button nz-button [nzType]="'primary'" (click)="handleCancel()">
        <span class="fa fa-fw fa-arrow-left"></span>Quay lại
      </button>
    </div>
  </div>
</nz-modal>
