::ng-deep .ant-form-item-label{
    text-align: left !important;
    padding: 0 10px !important;
}

button {
    margin-left: 8px;
}

.search-area {
    text-align: right;
}

.float-left {
    float: left;
    margin: 0;
}

.trigger:hover {
    color: #1890ff;
  }