<nz-modal nzWidth="1300px"
          [(nzVisible)]="isVisibleDialog"
          [nzAutofocus]="'auto'"
          nzClosable="false"
          [nzTitle]="title"
          nzMaskClosable="false">
  <ng-template #title>Chi tiết yêu cầu của VKS
    <div class="pull-right icon-close">
      <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
    </div>
  </ng-template>

  <form id="verificationInvestigationForm" [formGroup]="form" focusInvalidInput>
    <div nz-form class="ant-advanced-search-form" [ngClass]="isCollapse ? 'show' : 'hide' ">
      <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <nz-form-item class="w-100">
                <nz-form-label class="col-md-4 text-left" nzFor="verificationInvestigationCode">Số yêu cầu
                </nz-form-label>
                <nz-form-control class="col-md-8">
                  <input formControlName="verificationInvestigationCode" nz-input
                         name="verificationInvestigationCode" type="text"
                         id="fullName">
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <nz-form-item class="w-100">
                <nz-form-label class="col-md-4 text-left" nzFor="verificationDate">Ngày yêu cầu
                  <span style="color: red">&nbsp;*</span></nz-form-label>
                <nz-form-control class="col-md-8">
                  <nz-date-picker class="w-100 custom-datepicker-align"
                                  nzPlaceHolder="dd/MM/yyyy"
                                  formControlName="verificationDate"
                                  nzFormat="dd/MM/yyyy">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="row">
              <nz-form-item class="w-100">
                <input type="hidden" formControlName="procuratorsRequest">
                <input type="hidden" formControlName="procuratorsRequestId">
                <nz-form-label class="col-md-4 text-left" nzFor="procuratorsRequestTemp">KSV yêu cầu</nz-form-label>
                <nz-form-control class="col-md-8">
                  <input formControlName="procuratorsRequestTemp" nz-input type="text"
                         id="procuratorsRequestTemp" [nzAutocomplete]="autoProcuratorList">
                  <nz-autocomplete #autoProcuratorList [compareWith]="compareProcurator">
                    <nz-auto-option *ngFor="let procurator of procuratorsSuggestion"
                                    [nzLabel]="procurator['fullName']"
                                    [nzValue]="procurator">{{procurator['fullName']}}
                    </nz-auto-option>
                  </nz-autocomplete>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <nz-form-item class="w-100">
                <nz-form-label class="col-md-4 text-left" nzFor="type">Loại yêu cầu <span
                  style="color: red">&nbsp;*</span></nz-form-label>
                <nz-form-control class="col-md-8" nzHasFeedback>
                  <nz-select formControlName="type" [required]="true" [nzPlaceHolder]="'Chọn loại yêu cầu'">
                    <nz-option [nzValue]="1" [nzLabel]="typeOfVerification[1]"></nz-option>
                    <nz-option [nzValue]="2" [nzLabel]="typeOfVerification[2]"></nz-option>
                    <nz-option [nzValue]="3" [nzLabel]="typeOfVerification[3]"></nz-option>
                    <nz-option [nzValue]="4" [nzLabel]="typeOfVerification[4]"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row">
              <nz-form-item class="w-100">
                <nz-form-label class="col-md-2 text-left" nzFor="contentRequest" style="white-space: normal;">
                  Nội dung yêu cầu
                  <span style="color: red">&nbsp;*</span>
                </nz-form-label>
                <nz-form-control class="col-md-10">
                      <textarea formControlName="contentRequest" nz-input
                                id="contentRequest" [nzAutosize]="true"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row">
              <nz-form-item class="w-100">
                <nz-form-label class="col-md-2 text-left" nzFor="result">Kết quả thực hiện</nz-form-label>
                <nz-form-control class="col-md-10">
                      <textarea formControlName="result" nz-input name="result"
                                id="result" [nzAutosize]="true"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row">
              <nz-form-item class="w-100">
                <nz-form-label class="col-md-2 text-left" nzFor="note">Ghi chú</nz-form-label>
                <nz-form-control class="col-md-10">
                      <textarea formControlName="note" nz-input name="note"
                                id="note" [nzAutosize]="true"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div *nzModalFooter>
    <div class="d-flex align-items-center justify-content-center">
          <button nz-button (click)="handleCancel()">{{ 'Thoát' }}</button>
    </div>
  </div>
</nz-modal>
