.search-area {
  text-align: right;
}
::ng-deep nz-table-content {
  table-layout: fixed !important;
}
::ng-deep .ant-table table {
  table-layout: fixed !important;
  border: solid 1px #ccc;
}

.input-number {
  width: 100%;
}

.btn-right button {
  float: right;
  margin-right: 5px;
}

button {
  margin-left: 8px;
}

.check-box {
  float: left;
  margin-right: 5px;
}

.btn-right {
  padding: 5px;
}

.table-header {
  text-align: center;
  background: #ebf3ff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
}

.ui-panel-4-col {
  table-layout: fixed;
}

.ui-panelgrid td {
  padding: 0.5px 5px !important;
}

.ui-from label {
  padding: 0 5px;
}

.ui-panel-4-col td:nth-child(1),
.ui-panel-4-col td:nth-child(3) {
  width: 15%;
}
.ui-panel-4-col td:nth-child(2),
.ui-panel-4-col td:nth-child(4) {
  width: 30%;
}

fieldset div  .mg-left{
  margin-left: 15px !important;
}

ant-input-btn {
    margin: 0 5px;
}