<div>
    <fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
        <div class="ui-fieldset-content ant-advanced-search-form">
<!-- Row -->
            <div nz-row>
                <div nz-col [nzLg]="12" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8">Mã lý do bàn giao</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <input nz-input [(ngModel)]="filterItem.transid">
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
<!-- Row -->
            <div nz-row>
                <div nz-col [nzLg]="12" [nzMd]="12" [nzXs]="12">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8">Tên lý do</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <textarea nz-input rows="2" cols="30" title="Tên lý do" [(ngModel)]="filterItem.transname"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="ui-panel">
    <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
            <button nz-button [nzType]="'primary'" (click)="doSearch()">
                <span class="fa fa-fw fa-search"></span>
                Tìm kiếm
            </button>
            <button [disabled]="isDetailBtn" nz-button [nzType]="'primary'" (click)="showDetail()">
                <span class="fa fa-fw fa-eye"></span>Chi tiết
            </button>
            <button nz-button [nzType]="'primary'" (click)="showCreateForm()">
                <span class="fa fa-fw fa-plus"></span> Thêm mới
            </button>
            <button [disabled]="isUpdBtn" nz-button [nzType]="'primary'" (click)="showEditForm()">
                <span class="fa fa-fw fa-edit"></span> Sửa
            </button>
            <button [disabled]="isDeleteBtn" nz-button nzType="danger" nz-popconfirm
                nzPopconfirmTitle="Bạn có chắc chắn muốn xóa dữ liệu không?" nzPopconfirmPlacement="top"
                nzCancelText="Hủy" nzOkText="Đồng ý" (nzOnConfirm)="doDelete()" nzType="danger">
                <span class="fa fa-fw fa-times"></span> Xóa
            </button>
        </div>
    </div>
</div>
<ng-container>
    <div class="data-table">
        <nz-table #basicTable nzShowSizeChanger [nzFrontPagination]="false" nzSize="small" [nzData]="datas"
            [nzScroll]="{ x: '1200px' }" [nzLoading]="loading" [nzShowTotal]="rangeTemplate" [nzPageSize]="defaultPage"
            [nzTotal]="total" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th class="text-nowrap" nzWidth="5%">STT</th>
                    <th class="text-nowrap" nzWidth="10%">Mã lý do bàn giao</th>
                    <th class="text-nowrap" nzWidth="35%">Tên lý do</th>
                    <th class="text-nowrap" nzWidth="30%">Quá trình bàn giao</th>
                    <th class="text-nowrap" nzWidth="10%">Người tạo</th>
                    <th class="text-nowrap" nzWidth="10%">Ngày tạo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index;" class="actived" (click)="onRowSelect(data)"
                    [class.selected]="data === selectedItem">
                    <td style="text-align: center" class="text-nowrap">{{getRowIndex(i, basicTable.nzPageIndex,
                        basicTable.nzPageSize)}}</td>
                    <td class="text-nowrap center">{{ data.transid }}</td>
                    <td class="text-nowrap" title="{{ data.transname }}">{{ data.transname }}</td>
                    <td class="text-nowrap">{{ data.fromToName }}</td>
                    <td class="text-nowrap center">{{ data.crtuser }}</td> 
                    <td class="text-nowrap center">{{ data.crtdate | dateFormat }}</td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
        </ng-template>
    </div>
</ng-container>
<app-transfer-create [data]="data" [isVisible]="isVisibleCreate" (closeModal)="closeModalCreate($event)"
    (reloadModal)="reloadModalCreate($event)">
</app-transfer-create>
<app-transfer-detail [data]="data" [isVisible]="isVisibleDetail" (closeModal)="closeModalDetail($event)">
</app-transfer-detail>