.input-number{
    width: 100%;
  }
  .btn-right button{
    float: right;
    margin-right: 5px;
  }
  .btn-right{
    padding: 5px;
  }
  .table-header{
    text-align: center;
    background: #ebf3ff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
  }
  ::ng-deep .nz-disable-td.ant-table-cell{
    display: none;
  }
  .error{
    border:1px solid #cd0a0a !important;
  }