<section>
  <fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
    <legend class="ui-fieldset-legend ui-corner-all ui-state-default" (click)="toggleCollapse()">
      <i nz-icon [nzType]="collapse ? 'minus' : 'plus'"></i> Tìm kiếm thông tin vụ án
    </legend>
    <div class="ui-fieldset-content p-2" [ngClass]="collapse ? 'show' : 'hide' ">
      <form nz-form [formGroup]="formSearch" class="ant-advanced-search-form">
        <div class="row">
          <div class="col-12 col-lg-4 col-sm-12">
            <nz-form-item class="row mb-0">
              <nz-form-label class="col-4 text-left">Mã vụ án</nz-form-label>
              <nz-form-control class="col-8">
                <input nz-input placeholder="Mã vụ án" type="text" formControlName="caseCode" id="caseCode"
                       class="w-100">
              </nz-form-control>
            </nz-form-item>
          </div>
            <div class="col-12 col-lg-4 col-sm-12">
            <nz-form-item class="row mb-0">
              <nz-form-label class="col-4 text-left">Tên vụ án</nz-form-label>
              <nz-form-control class="col-8">
                <input nz-input placeholder="Tên vụ án" type="text" formControlName="caseName" id="caseName"
                       class="w-100">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12 col-lg-4 col-sm-12">
            <nz-form-item class="row mb-0">
              <nz-form-label class="col-4 text-left">Bị can đầu vụ</nz-form-label>
              <nz-form-control class="col-8">
                <input nz-input placeholder="Bị can đầu vụ" type="text" formControlName="firstAccusedName"
                       id="firstAccusedName" class="w-100">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 col-sm-12">
            <nz-form-item class="row mb-0">
              <nz-form-label class="col-4 text-left text-wrap" [ngStyle]="{'line-height': '20px'}">QĐ khởi tố từ ngày</nz-form-label>
              <nz-form-control class="col-8">
                <nz-date-picker [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                                (input)="onFromDateValueChange($event)"
                                (keypress)="numberOnly($event)"
                                formControlName="fromDate" id="fromDate" class="w-100"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-12 col-lg-4 col-sm-12">
            <nz-form-item class="row mb-0">
              <nz-form-label class="col-4 text-left text-wrap" [ngStyle]="{'line-height': '20px'}">QĐ khởi tố đến ngày</nz-form-label>
              <nz-form-control class="col-8">
                <nz-date-picker [nzPlaceHolder]="'Chọn ngày'" nzFormat="dd/MM/yyyy"
                                (input)="onToDateValueChange($event)"
                                (keypress)="numberOnly($event)"
                                [nzMode]="'date'" nzPlaceHolder="dd/MM/yyyy" formControlName="toDate" id="toDate"
                                class="w-100">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-12 col-lg-4 col-sm-12">
            <nz-form-item class="row mb-0">
              <nz-form-label class="col-4 text-left">Số quyết định khởi tố</nz-form-label>
              <nz-form-control class="col-8">
                <input nz-input placeholder="Số quyết định khởi tố" type="text" formControlName="beginSetnum"
                       id="beginSetnum" class="w-100">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </fieldset>

  <nz-page-header>
    <nz-page-header-subtitle [style]="'color: red; font-weight: bold'">Tổng số bản ghi: {{ totalElements }}
      Trang: {{ pageNumber }}/{{ totalPages }}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nzType="primary" (click)="goToCreateCase()">Nhập vụ án
      </button>
      <button nz-button nzType="primary" (click)="loadDataFromServer()"><i class="fa fa-fw fa-search"></i> Tìm kiếm
      </button>
      <button nz-button nzType="primary" (click)="goToList();"><i class="fas fa-list"></i> Danh sách cấp số lệnh/ QĐ
      </button>
      <button nz-button nzType="primary" [disabled]="!selectedItem" (click)="goToCreate()"><i
        class="fa fa-fw fa-edit"></i> Cấp số lệnh/ Quyết định
      </button>
      <button nz-button nzType="primary" [disabled]="!selectedItem" (click)="goToDetails()"><i
        class="fa fa-fw fa-eye"></i> Xem chi tiết
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-table
    #sortTable
    nzShowSizeChanger
    nzTableLayout="fixed"
    [nzSize]="'small'"
    [nzScroll]="scroll"
    [nzData]="listOfItem"
    [nzLoading]="loading"
    [nzTotal]="totalElements"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageNumber"
    [nzShowPagination]="false"
    [nzBordered]="true"
    [nzNoResult]="noResultTpl">
    <thead>
    <tr>
      <ng-container *ngFor="let col of cols">
        <th *ngIf="col.sortDirections" [nzSortOrder]="col.sortOrder" [nzSortFn]="col.sortFn" [nzWidth]="col.width"
            [nzSortDirections]="col.sortDirections">
          {{ col.title }}
        </th>
        <th *ngIf="!col.sortDirections" [nzWidth]="col.width">
          {{ col.title }}
        </th>
      </ng-container>
    </tr>
    </thead>
    <tbody class="posts">
    <ng-container *ngFor="let data of sortTable.data; index as i">
      <tr (click)="onSelect(data)" [class.selected]="data === selectedItem">
        <td [nzChecked]="setOfCheckedId.has(data.caseCode)" (nzCheckedChange)="onItemChecked(data.caseCode, $event)">
        </td>
        <td [nzAlign]="'right'">{{ data.caseCode }}</td>
        <td [nzAlign]="'left'" nz-tooltip [nzTooltipTitle]="data.caseName" nzEllipsis>
          {{ data.caseName }}
        </td>
        <td [nzAlign]="'left'" nz-tooltip [nzTooltipTitle]="data.firstAccused?.fullName" nzEllipsis>
          {{ data.firstAccused?.fullName | nzSafeNull: '-' }}
        </td>
        <td [nzAlign]="'left'" nz-tooltip [nzTooltipTitle]="data.law?.lawId + ' - ' + data.law?.lawName" nzEllipsis>
          {{ data.law?.lawId? 'Điều ' + data.law?.lawId : ''}}{{data.law?.item? ' - Khoản '+ data.law?.item : '' }}{{data.law?.point?' - Điểm ' + data.law?.point : '' }} - {{ data.law?.lawName }}
        </td>
        <td [nzAlign]="'left'" nzEllipsis>{{ data.beginSetnum }}</td>
        <td [nzAlign]="'center'">{{ data.beginIndate }}</td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>

  <div nz-row nzJustify="end" class="mt-3">
    <nz-pagination [nzPageIndex]="pageNumber" [nzPageSizeOptions]="[10,15,20,30,40,50,100,200,500,1000]"
                   [nzTotal]="totalElements" [nzPageSize]="pageSize" [nzShowTotal]="rangeTemplate"
                   (nzPageIndexChange)="onChangePageIndex($event)" (nzPageSizeChange)="onChangePageSize($event)"
                   nzShowSizeChanger>
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}
      -{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
    </ng-template>
  </div>

  <ng-template #noResultTpl>
    <nz-empty nzNotFoundImage="./assets/image/empty.svg" [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <p>Không tìm thấy kết quả.</p>
      </ng-template>
    </nz-empty>
  </ng-template>
</section>
