<nz-modal nzWidth="960px" [(nzVisible)]="isVisible" [nzAutofocus]="'auto'" [nzTitle]="title" nzAutofocus="auto"
    nzMaskClosable="false" nzClosable="false">
    <ng-template #title>
        <ng-container [ngSwitch]="popupMode">
            <ng-container *ngSwitchCase="popupModeEnum.VIEW">Chi tiết Thông tin người thiệt hại</ng-container>
            <ng-container *ngSwitchCase="popupModeEnum.UPDATE">Cập nhật Thông tin người thiệt hại</ng-container>
            <ng-container *ngSwitchDefault>Thêm mới Thông tin người thiệt hại</ng-container>
        </ng-container>
        <div class="pull-right icon-close">
            <em (click)="handleCancel()" nz-icon nzType="close" nzTheme="outline"></em>
        </div>
    </ng-template>
    <nz-spin [nzSpinning]="isSpinning">
        <form nz-form [formGroup]="myForm" (ngSubmit)="handleOk(myForm.value)">
            <div *nzModalContent>
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="compensationId">
                <div class="row mb-1">
                    <div class="col-6">
                        <div class="row">
                          <nz-form-item class="w-100">
                            <nz-form-label class="col-md-3 text-left" nzFor="damagesName" nzRequired>Họ và tên
                            </nz-form-label>
                            <nz-form-control class="col-md-9" [nzErrorTip]="violationNameErrorTpl">
                              <input style="text-transform:capitalize" formControlName="damagesName" nz-input name="damagesName" id="damagesName"
                                     type="text">
                              <ng-template #violationNameErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                  <small class="form-text">Vui lòng nhập Họ và tên!</small>
                                </ng-container>
                              </ng-template>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <nz-form-item class="w-100">
                          <nz-form-label class="col-md-3 text-left" nzFor="damagesCccd">CCCD</nz-form-label>
                          <nz-form-control class="col-md-9" [nzErrorTip]="cccdError">
                            <input formControlName="damagesCccd" nz-input name="damagesCccd" id="damagesCccd"
                                   type="text" class="text-right" appNumberic (blur)="convertCccd()">
                            <ng-template #cccdError let-control>
                              <ng-container *ngIf="control.hasError('maxlength')">
                                <small>Độ dài CCCD phải từ 9 đến 12 số, yêu cầu kiểm tra lại</small>
                              </ng-container>
                              <ng-container *ngIf="control.hasError('minlength')">
                                <small>Độ dài CCCD phải từ 9 đến 12 số, yêu cầu kiểm tra lại</small>
                              </ng-container>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                </div><!-- /.row -->
              <div class="row mb-1">
                <div class="col-6">
                  <div class="row">
                    <nz-form-item class="w-100">
                      <nz-form-label class="col-md-3 text-left" nzFor="damagesBirthday">
                        Ngày sinh
                      </nz-form-label>
                      <nz-form-control class="col-md-9">
                        <nz-date-picker [nzAutoFocus]="true" formControlName="damagesBirthday"
                                        id="damagesBirthday" class="w-100" [nzMode]="'date'" nzFormat="dd/MM/yyyy"
                                        nzPlaceHolder="dd/MM/yyyy"
                                        [nzDisabledDate]="disabledDate"
                                        (input)="onDateValueChange($event, myForm.get('damagesBirthday'))"
                                        (keypress)="validateOnlyNumbers($event)"></nz-date-picker>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <nz-form-item class="w-100">
                      <nz-form-label class="col-md-3 text-left" nzFor="damagesAddress">Địa chỉ</nz-form-label>
                      <nz-form-control class="col-md-9">
                        <input formControlName="damagesAddress" nz-input name="damagesAddress"
                               id="damagesAddress" type="text">
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </div><!-- /.row -->
            </div><!-- /.nzModalContent -->
            <div *nzModalFooter>
                <div class="d-flex align-items-center justify-content-center">
                    <ng-container [ngSwitch]="popupMode">
                        <ng-container *ngSwitchCase="popupModeEnum.VIEW">
                            <button nz-button (click)="handleCancel()">{{ 'back' | translate }}</button>
                        </ng-container>
                        <ng-container *ngSwitchCase="popupModeEnum.VIEW_FROM_PARENT">
                            <button nz-button (click)="handleCancel()">{{ 'back' | translate }}</button>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <button nz-button nzType="primary" type="button" (click)="handleOk(myForm.value)">
                                <i nz-icon nzType="save" nzTheme="outline"></i>
                                {{'save' | translate }}
                            </button>
                            <button nz-button nzType="default" type="button" (click)="handleCancel()">
                                <i nz-icon nzType="close" nzTheme="outline"></i>
                                {{'cancel' | translate }}</button>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </form>
    </nz-spin>
</nz-modal>
