<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
  <legend class="ui-fieldset-legend ui-corner-all ui-state-default" (click)="toggleCollapse()">
    <i nz-icon [nzType]="isCollapse ? 'minus' : 'plus'"></i>Giao nhận hồ sơ (CQĐT - VKS)</legend>
  <div class="ui-fieldset-content" nz-form [ngClass]="isCollapse ? 'show' : 'hide' ">
    <nz-table #basicTable [nzData]="datas"
              [nzScroll]="{ x: '1200px' }"
              [nzPageSizeOptions]="pageSize" [nzPageSize]="defaultPage" nzSize="small"
              nzShowSizeChanger [nzShowTotal]="rangeTemplate" [nzLoading]="loading">
      <thead>
      <tr>
        <th class="text-nowrap center" nzWidth="5%">STT</th>
        <th class="text-nowrap" nzWidth="10%">Mã giao nhận</th>
        <th class="text-nowrap" nzWidth="10%">Loại giao nhận</th>
        <th class="text-nowrap" nzWidth="10%">Ngày giao nhận</th>
        <th class="text-nowrap" nzWidth="20%">Viện kiểm sát</th>
        <th class="text-nowrap" nzWidth="15%">Cơ quan điều tra</th>
        <th class="text-nowrap" nzWidth="20%">Ghi chú</th>
        <th class="text-nowrap" nzWidth="10%">Thao tác</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data;let i = index;" (click)="onRowSelect(data)" ngClass="s-{{data.selected}}">
        <td class="text-nowrap center">{{getRowIndex(i, page, defaultPage)}}</td>
        <td class="text-nowrap center">{{ f(data,'transcode') }}</td>
        <td class="text-nowrap">{{ f(data,'changeid_txt') }}</td>
        <td class="text-nowrap center">{{ f(data,'transdate') | dateFormat }} </td>
        <td class="text-nowrap">{{ f(data,'sppname')}}</td>
        <td class="text-nowrap">{{ f(data,'spcpol') }}</td>
        <td class="text-nowrap">{{ f(data,'remark') }}</td>
        <td class="text-nowrap center">
          <button nz-tooltip nzTooltipTitle="Sửa" class="btn-qla" [disabled]="data.EDITABLE === 'N'" (click)="showEditForm(data)">
            <span class="fa fa-fw fa-edit"></span></button>
            <button nz-tooltip nzTooltipTitle="Xem" class="btn-qla" [disabled]="data.EDITABLE === 'N'" (click)="showDisableForm(data)">
              <span class="fa fa-fw fa-eye"></span></button>
          <button nz-tooltip nzTooltipTitle="Xóa" class="btn-qla"
                  nz-popconfirm
                  nzPopconfirmTitle="Bạn có chắc muốn xóa bản ghi này không?"
                  nzPopconfirmPlacement="top"
                  nzCancelText="Hủy"
                  nzOkText="Đồng ý"
                  [disabled]="data.EDITABLE === 'N'"
                  (nzOnConfirm)="confirm(data)"
                  (nzOnCancel)="cancel()"
          >
            <span class="fa fa-fw fa-times"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </nz-table>
    <div class="div-btn-right">
      <button [disabled]="!register || !lstCentG1 || lstCentG1.length === 0 || !register.regicode || register.editable === false" nz-button (click)="showInsert()">Thêm mới</button>
    </div>
  </div>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{'of' | translate }} {{ total }} {{'items' | translate }}
  </ng-template>
</fieldset>

