<fieldset class="ui-fieldset ui-widget ui-widget-content ui-corner-all ui-fieldset-toggleable no-legend-border">
  <legend class="ui-fieldset-legend ui-corner-all ui-state-default" (click)="toggleCollapse()">
    <i nz-icon [nzType]="isCollapse ? 'minus' : 'plus'"></i>Thông tin tìm kiếm
  </legend>
  <div class="ui-fieldset-content" (keyup.enter)="doSearch()">
    <div nz-form class="ant-advanced-search-form px-3" [ngClass]="isCollapse ? 'show' : 'hide' ">
      <div class="row">
        <div class="col-md-12 mt-md-3 mt-lg-3 col-xl-6 col-lg-12">
          <div class="row">
            <div class="col-md-2">
              Mã vụ án
            </div>
            <div class="col-md-4">
              <input autofocus nz-input appNumberic [maxLength]="50" placeholder="Mã vụ án"
                     [(ngModel)]="searchModel.caseCode"/>
            </div>
            <div class="col-md-2">
              Tên vụ án
            </div>
            <div class="col-md-4">
              <input autofocus nz-input [maxLength]="200" placeholder="Tên vụ án"
                     [(ngModel)]="searchModel.caseName"/>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-md-3 mt-lg-3 col-xl-6 col-lg-12">
          <div class="row">
            <div class="col-md-2">
              Bị cáo đầu vụ
            </div>
            <div class="col-md-4">
              <input autofocus nz-input [maxLength]="200" placeholder="Bị cáo đầu vụ"
                     [(ngModel)]="searchModel.firstAccusedName"/>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-md-3 mt-lg-3 col-xl-6 col-lg-12">
          <div class="row">
            <div class="col-md-2">
              QĐ khởi tố từ ngày<span style="color: red">&nbsp;*</span>
            </div>
            <div class="col-md-4">
              <nz-date-picker [ngStyle]="{width: '100%'}" nzSize="large" [(ngModel)]="searchModel.fromBeginIndate"
                              (input)="onValueFromBeginIndate($event)" (keypress)="validateOnlyNumbers($event)"
                              nzPlaceHolder="QĐ khởi tố từ ngày" nzFormat="dd/MM/yyyy">
              </nz-date-picker>
              <div class="text-danger margin-top-5" *ngIf="requiredFromDate">
                <small>Bản án từ ngày phải nhỏ hơn hoặc bằng Bản án đến ngày</small>
              </div>
            </div>
            <div class="col-md-2 ">
              QĐ khởi tố đến ngày<span style="color: red">&nbsp;*</span>
            </div>
            <div class="col-md-4">
              <nz-date-picker [ngStyle]="{width: '100%'}" nzSize="large" [(ngModel)]="searchModel.toBeginIndate"
                              (input)="onValueToBeginIndate($event)" (keypress)="validateOnlyNumbers($event)"
                              nzPlaceHolder="QĐ khởi tố đến ngày" nzFormat="dd/MM/yyyy"></nz-date-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<div class="ui-panel">
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">

      <button nz-button (click)="doSearch()" [nzType]="'primary'">
        <span class="fa fa-fw fa-search"></span>&nbsp;Tìm kiếm
      </button>

      <button nz-button nzType="primary" (click)="showModalList()">
        <span class="fa fa-fw fa-list"></span>&nbsp;Danh sách xem xét lại
      </button>

      <button [disabled]="!selectedItem || selectedItem?.isReviewed"
              nz-button nzType="primary" (click)="showModalAdd()">
        <span class="fa fa-fw fa-plus"></span>&nbsp;Thêm mới
      </button>

      <button [disabled]="!selectedItem || !selectedItem?.isReviewed"
              nz-button nzType="primary" (click)="showModalUpdate()">
        <span class="fa fa-fw fa-edit"></span>&nbsp;Cập nhật thông tin
      </button>

      <button [disabled]="!selectedItem || !selectedItem?.isReviewed"
              nz-button nzType="primary" (click)="showModalDetail()">
        <span class="fa fa-fw fa-eye"></span>&nbsp;Xem chi tiết
      </button>
    </div>
  </div>
</div>

<div class="data-table">
  <section *ngIf="dataList && dataList.length; else noResultTpl">
    <nz-page-header>
      <nz-page-header-subtitle [style]="'color: red; font-weight: bold'">Tổng số bản ghi: {{ pageResponse.totalElements }}
        Trang: {{ pageResponse.pageNumber }}/{{ pageResponse.totalPages }}</nz-page-header-subtitle>
    </nz-page-header>
    <nz-table #basicTable [nzData]="dataList"
              [nzScroll]="{ x: '1200px' }"
              [nzFrontPagination]="false"
              [nzTotal]="pageResponse.totalElements"
              [nzPageSize]="pageResponse.pageSize"
              [nzPageIndex]="pageResponse.pageNumber"
              nzSize="small"
              nzShowSizeChanger [nzShowTotal]="rangeTemplate" [nzLoading]="loading"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzPageSizeOptions]="pageSize"
    >
      <thead>
      <tr>
        <th nzLeft="0" nzWidth="50px"></th>
        <th nzWidth="50px">STT</th>
        <th class="text-nowrap" nzColumnKey="caseCode" [nzSortFn]="true" style="width: 5%">Mã vụ án</th>
        <th class="text-nowrap" nzColumnKey="caseName" [nzSortFn]="true" style="width: 15%">Tên vụ án</th>
        <th class="text-nowrap" nzColumnKey="firstAccusedName" [nzSortFn]="true" style="width: 15%">Bị cáo đầu vụ</th>
        <th class="text-nowrap" nzColumnKey="beginSetnum" [nzSortFn]="true" style="width: 5%">Số QĐ khởi tố</th>
        <th class="text-nowrap" nzColumnKey="beginIndate" [nzSortFn]="true" style="width: 5%">Ngày QĐ khởi tố</th>
        <th class="text-nowrap" nzColumnKey="createdAt" [nzSortFn]="true" style="width: 5%">Ngày tạo</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let data of basicTable.data;let i = index;" class="actived" ngClass="s-{{data.checked}}" (click)="onRowSelect(data)">
        <td nzShowCheckbox [(nzChecked)]="data.checked"
            (nzCheckedChange)="onItemChecked(data, $event)" nzLeft="0px"
            nzWidth="50px"></td>
        <td class="text-center">{{ (i + 1) + (pageResponse.pageNumber - 1) * pageResponse.pageSize }}</td>
        <td class="text-right">{{ data['caseCode'] }}</td>
        <td class="text-left">{{ data['caseName'] }}</td>
        <td class="text-left">{{ data['firstAccusedName'] }}</td>
        <td class="text-left">{{ data['beginSetnum'] }}</td>
        <td class="text-center">{{ data['beginIndate'] }}</td>
        <td class="text-center">{{ data['createdAt'] }}</td>

      </tr>
      </tbody>
    </nz-table>
    <ng-template #rangeTemplate let-range="range" let-total>
      <!--    {{ range[0] }}-{{ range[1] }} {{'của' | translate }} {{ total }} {{ 'bản ghi' }}-->
      {{ range[0] }}-{{ range[1] }} {{' của ' | translate }} {{ pageResponse.totalElements }} {{ ' bản ghi' }}
    </ng-template>
  </section>
  <ng-template #noResultTpl>
    <nz-empty nzNotFoundImage="./assets/image/empty.svg" [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <p>Không tìm thấy kết quả.</p>
      </ng-template>
    </nz-empty>
  </ng-template>
</div>
<app-review-case-create [isVisibleAdd]="isVisibleAdd" [selectedCase]="selectedItem"
                        (closeModal)="closeModalAdd($event)">
</app-review-case-create>

<app-review-case-update [isVisibleUpdate]="isVisibleUpdate" [mode]="modeEnum.UPDATE"
                        (closeModal)="closeModalUpdate($event)" [selectedCase]="selectedItem">
</app-review-case-update>
<app-review-case-update [isVisibleUpdate]="isVisibleDetail" [mode]="modeEnum.VIEW_FROM_PARENT"
                        (closeModal)="closeModalDetail()" [selectedCase]="selectedItem">
</app-review-case-update>
<app-review-case-list [isVisibleList]="isVisibleList" (closeModal)="closeModalList($event)">
</app-review-case-list>
